/* Generic page style */

body {
    background-color: #3B3D3C;
    font-family: Bebas Neue, Roboto;
    color: #F4F2ED;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 4rem;
}

/* Game section */

.play {
    max-width: 100%;
    padding: 0.5rem 0.5rem;
    margin: 1rem auto;
}

.options {
    background-color: #E48894;
    border-radius: 25%;
    border-width: 4px;
    border-style: solid;
    border-color: #F7546D;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    animation-name: anim-fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    max-width: 120px;
  }

.display-moves {
    align-items: center;
    margin: 0.5rem;
    justify-content: space-evenly;
}

.move {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: #F4F2ED;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #F7546D;
    display: inline-block;
}

.separator {
    font-size: 1rem;
    display: inline-block;
    margin: 0.5rem;
}


edited out {
     color: #E48894;
    
     color: #F7546D;
     color: #899690;
 
 }
 */

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.5rem;
}

#p-won {
    color: #F4F2ED;
    font-weight: bold;
    display: inline-block;
}

#c-won {
    color: red;
    font-weight: bold;
    display: inline-block;
}

.new-game {
    color: #F4F2ED;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

footer ul li {
    color: #F4F2ED;
    font-weight: bold;
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    padding: 1.5rem 2rem;
}

/* Display moves played */
.played-move {
    width: 15%;
    display: inline-block;
}

/* Media queries */

@media (max-width: 1200px) {
    .rock-button {
        color: #E48894;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: bold;
        width: 80%;
    }
   
    .paper-button {
        color: #F7546D;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: bold;
        width: 80%;
    }
   
    .scissors-button {
        color: #899690;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: bold;
        width: 80%;
    }

    .score-area {
    width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }
}