/* Generic page style */

body {
    background-color: #3B3D3C;
    font-family: Bebas Neue, Roboto;
    color: #F4F2ED;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 4rem;
}

/* Game section */

 .rock-button {
     color: #E48894;
     display: inline-block;
     font-size: 2.5rem;
     font-weight: bold;
     width: 15%;
     margin: 0.5rem;
     padding: 0.5rem;
 }

 .paper-button {
     color: #F7546D;
     display: inline-block;
     font-size: 2.5rem;
     font-weight: bold;
     width: 15%;
     margin: 0.5rem;
     padding: 0.5rem;
 }

 .scissors-button {
     color: #899690;
     display: inline-block;
     font-size: 2.5rem;
     font-weight: bold;
     width: 15%;
     margin: 0.5rem;
     padding: 0.5rem;
 }

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.5rem;
}

#p-won {
    color: #F4F2ED;
    font-weight: bold;
    display: inline-block;
}

#c-won {
    color: red;
    font-weight: bold;
    display: inline-block;
}

.new-game {
    color: #F4F2ED;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

footer ul li {
    color: #F4F2ED;
    font-weight: bold;
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    padding: 1.5rem 2rem;
}

/* Media queries */

@media (max-width: 1200px) {
    .rock-button {
        color: #E48894;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: bold;
        width: 80%;
    }
   
    .paper-button {
        color: #F7546D;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: bold;
        width: 80%;
    }
   
    .scissors-button {
        color: #899690;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: bold;
        width: 80%;
    }

    .score-area {
    width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }
}